.signup-title {
  margin-top: 8rem;
  font-size: 2.5rem;
}
.form {
  margin-top: 2rem;
  max-width: 25rem;
}

/* .form {
  margin: auto 30% !important;
} */
.signup-btn {
  width: 25rem;
}
.login-link {
  text-decoration: none;
}
